@inject Microsoft.AspNetCore.Identity.SignInManager<ApplicationUser> signInManager
@model BataCMS.Data.Models.HPAFacility
@*<div class="row">*@
@*    <h3>@Model.Location</h3>
    <h3>@Model.Name</h3>
    <br>
    <a id="cartButton" asp-controller="HPAFacility" asp-action="View" asp-route-facilityId="@Model.HPAFacilityId" type="button" class="btn button">View</a>

    @if (signInManager.IsSignedIn(User) && User.IsInRole("Vendor") && Model.IsAvailable == true)
    {
        <ul class="actions">
            <li><br /><a asp-action="MakeBooking" asp-controller="Lease" asp-route-rentalAssetId="@Model.HPAFacilityId" type="button" class="btn button special"> Make A Booking</a></li>
        </ul>
    }

    @if (signInManager.IsSignedIn(User) && User.IsInRole("Admin"))
    {

        <br /><a asp-action="Edit" asp-controller="HPAFacility" asp-route-facilityId="@Model.HPAFacilityId" type="button" class="btn button">Edit</a>

        <ul class="actions">
            <li><br /><a asp-action="CashBooking" asp-controller="Lease" asp-route-rentalAssetId="@Model.HPAFacilityId" type="button" class="btn button special"> Cash Booking</a></li>
        </ul>
    }

    @if (signInManager.IsSignedIn(User) && User.IsInRole("Admin") && Model.IsAvailable == false && !(DateTime.Now >= Model.BookTillDate))
    {

        <br /><a asp-action="EndBooking" asp-controller="RentalAsset" asp-route-id="@Model.HPAFacilityId" type="button" class="btn button">Cancel Booking</a>
    }

    @if (signInManager.IsSignedIn(User) && User.IsInRole("Admin") && Model.IsAvailable == false && DateTime.Now >= Model.BookTillDate)
    {
        <br /><a asp-action="EndBooking" asp-controller="RentalAsset" asp-route-id="@Model.HPAFacilityId" type="button" class="btn button">Invoice</a>

    }*@

<tr>
    <th>Company Name </th>
    <th> @Model.Name</th>
</tr>

<tr>
    <td>Sector: </td>
    <td>@Model.Category.CategoryName</td>
</tr>

<tr>
    <td>Description </td>
    <td> @Model.Description</td>
</tr>
@if (signInManager.IsSignedIn(User) && User.IsInRole("Admin"))
{
    <tr>
        <td><a asp-action="Edit" asp-controller="HPAFacility" asp-route-facilityId="@Model.HPAFacilityId" class="button">Manage Sector</a></td>
    </tr>

}




@*    </div>*@
<!--</div>-->
