@inject Microsoft.AspNetCore.Identity.SignInManager<ApplicationUser> signInManager
@inject Microsoft.AspNetCore.Identity.UserManager<ApplicationUser> UserManager
@model HomeViewModel
<head>
    <link href="~/Content/Home.css" rel="stylesheet" />
    <link href="~/Content/animations.css" rel="stylesheet" />

</head>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Home</title>
</head>
<body>

    @if (signInManager.IsSignedIn(User) && User.IsInRole("User"))
    {
        var user = UserManager.GetUserAsync(User).Result;
        if (!UserManager.IsPhoneNumberConfirmedAsync(user).Result)
        {
            <div class="jumbotron">
                <h1>Phone Number not verified</h1>
                <p class="lead">Verify your phone number to enable text notifications on applicaiton updates.</p>
                <a class="button" style="z-index: 999;" asp-action="ConfirmPhone" asp-controller="Account" asp-route-phoneNumber="@user.PhoneNumber" role="button">Verify</a>
            </div>

        }
    }
    <div id="wrapper">
        <section id="banner" class="major">

            <div class="inner">
                <header class="major">

                    @if (signInManager.IsSignedIn(User))
                    {
                        <h1>
                            Hi, @((UserManager.GetUserAsync(User).Result.FirstName).ToString())
                        </h1>
                    }
                    else
                    {
                        <h1>IDC Portal</h1>
                    }

                </header>
                <div class="content">

                    @if (signInManager.IsSignedIn(User))
                    {
                        <p>
                            Welcome Back
                        </p>
                    }
                    else
                    {
                        <p>
                            Welcome to the IDC Reporting System<br />
                            Your portal for IDC Data Monitoring
                        </p>
                    }

                    <ul class="actions">
                        @if (signInManager.IsSignedIn(User))
                        {
                            <li><a href="#one" class="button next scrolly">Get Started</a></li>

                        }
                        else
                        {
                            <li><a class="button" id="loginLink" asp-controller="Account" asp-action="Login"> Log in </a></li>
                        }
                    </ul>
                </div>
            </div>
        </section>

        <main role="main">
            <!-- One -->
            <section id="one" class="tiles">

                @*                <article>
            <header class="major">
                <h3><a asp-action="BulletinIndex" asp-controller="Home" class="link">Bulletin Board</a></h3>
                <p>View Information and Announcements from the Health Profession Association</p>
            </header>
        </article>
                *@


                @if (signInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                {
                    <article>
                        <header class="major">
                            <h3><a asp-action="ListRequests" asp-controller="ServiceRequest" asp-route-applicantId="@UserManager.GetUserId(User)" class="link">Consolidated Report</a></h3>
                            <p>View IDC Insights</p>
                        </header>
                    </article>

                    foreach (var item in Model.Sectors)
                    {
                        <article>
                            <header class="major">
                                <h3><a asp-action="BulletinIndex" asp-controller="Home" asp-route-categoryId="@item.CategoryId" class="link">@item.CategoryName</a></h3>
                                <p>@item.Description</p>
                            </header>
                        </article>

                    }
                }

                @if (signInManager.IsSignedIn(User) && User.IsInRole("User"))
                {
                    <article>
                        <header class="major">
                            <h3><a asp-controller="MemberApplication" asp-action="Create" class="link">Membership Application</a></h3>
                            <p>Apply for membership in a company</p>
                        </header>
                    </article>

                    <article>
                        <header class="major">
                            <h3><a asp-action="MyApplications" asp-controller="MemberApplication" asp-route-applicantId="@UserManager.GetUserId(User)" class="link">My Applications</a></h3>
                            <p>View Current Status of Your Applications</p>
                        </header>
                    </article>

                    <article>
                        <header class="major">
                            <h3><a asp-action="List" asp-controller="HPAFacility" class="link">View Companies</a></h3>
                            <p>View IDC Companies</p>
                        </header>
                    </article>

                    @*
            <article>
                <header class="major">
                    <h3><a href="#" class="link">Book Venue Application</a></h3>
                    <p>Nisl sed aliquam</p>
                </header>
            </article>*@

                }

                @if (signInManager.IsSignedIn(User) && User.IsInRole("HPAStaff"))
                {
                    <article>
                        <header class="major">
                            <h3><a asp-action="ListApplications" asp-controller="MemberApplication" class="link">Member Applications</a></h3>
                            <p>View Applications</p>
                        </header>
                    </article>

                    @*                    <article>
                <header class="major">
                    <h3><a asp-action="ListRequests" asp-controller="ServiceRequest" class="link">View Facility Requests</a></h3>
                    <p>View Pending Member Request to join a facility</p>
                </header>
            </article>

            <article>
                <header class="major">
                    <h3><a asp-action="BookedList" asp-controller="RentalAsset" class="link">View Booked Assets</a></h3>
                    <p>Manage the Rental Assets</p>
                </header>
            </article>*@
@*                    <article>

                        <header class="major">
                            <h3><a asp-action="List" asp-controller="RentalAsset" class="link">Facilites</a></h3>
                            <p>View Facility Details</p>
                        </header>
                    </article>

                    <article>
                        <header class="major">
                            <h3><a href="#" class="link">Manage Certifications</a></h3>
                            <p>View your Certifications</p>
                        </header>
                    </article>

                    <article>
                        <header class="major">
                            <h3><a href="#" class="link">Member Payments</a></h3>
                            <p>Manage member payments</p>
                        </header>
                    </article>

                    <article>
                        <header class="major">
                            <h3><a asp-action="ListServiceTypes" asp-controller="Admin" class="link">Reports</a></h3>
                        </header>
                    </article>*@



                }

                @if (signInManager.IsSignedIn(User) && User.IsInRole("Member"))
                {
                    <article>
                        <header class="major">
                            <h3><a asp-action="List" asp-controller="RentalAsset" class="link">View Facilities</a></h3>
                            <p>View the HPA Facilites</p>
                        </header>
                    </article>

                    <article>
                        <header class="major">
                            <h3><a href="#" class="link">Membership</a></h3>
                            <p>View Membership information and status</p>
                        </header>
                    </article>

                    <article>
                        <header class="major">
                            <h3><a href="#" class="link">Member Certifications</a></h3>
                            <p>View your Certifications</p>
                        </header>
                    </article>

                    <article>
                        <header class="major">
                            <h3><a asp-action="List" asp-controller="Invoice" asp-route-userId="@UserManager.GetUserId(User)" class="link">My Invoices</a></h3>
                            <p>View Invoices of previous bookings</p>
                        </header>
                    </article>
                }

            </section>


        </main>
    </div>
</body>
</html>